
    {% extends 'navbar.html' %}


    {% block content %}


    <section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/resize33.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Coach <i class="ion-ios-arrow-forward"></i></span></p>
              <h1 class="mb-0 bread">Coaching Video</h1>
            </div>
          </div>
        </div>
      </section>
          
      
      <section class="ftco-section bg-light">
              <div class="container">
                  <div class="row">

                    


                      <div class="col-md-6 col-lg-4 ftco-animate">
                          <div class="staff">
                              <div class="img-wrap d-flex align-items-stretch">
                                <iframe width="500" height="345" src="https://www.youtube.com/embed/IODxDxX7oi4">
                                </iframe>
                              </div>
                              <div class="text pt-3 px-3 pb-4 text-center">
                               
                                  <span class="position mb-2">Push UP</span>
                                  <div class="faded">
                                      <p>Weight training is a common type of strength training for developing the strength and size of skeletal muscles.</p>
                                      <ul class="ftco-social text-center">
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-4 ftco-animate">
                          <div class="staff">
                              <div class="img-wrap d-flex align-items-stretch">
                                <iframe width="500" height="345" src="https://www.youtube.com/embed/IODxDxX7oi4">
                                </iframe>
                            
                              </div>
                              <div class="text pt-3 px-3 pb-4 text-center">
                                 
                                  <span class="position mb-2">Squat</span>
                                  <div class="faded">
                                      <p>Weight training is a common type of strength training for developing the strength and size of skeletal muscles</p>
                                      <ul class="ftco-social text-center">
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-4 ftco-animate">
                          <div class="staff">
                              <div class="img-wrap d-flex align-items-stretch">
                                <iframe width="500" height="345" src="https://www.youtube.com/embed/in7PaeYlhrM">
                                </iframe>
                              </div>
                              <div class="text pt-3 px-3 pb-4 text-center">
                                
                                  <span class="position mb-2">Bicep Curl</span>
                                  <div class="faded">
                                      <p>Weight training is a common type of strength training for developing the strength and size of skeletal muscles</p>
                                      <ul class="ftco-social text-center">
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-4 ftco-animate">
                          <div class="staff">
                              <div class="img-wrap d-flex align-items-stretch">
                                <iframe width="500" height="345" src="https://www.youtube.com/embed/QZEqB6wUPxQ">
                                </iframe>
                              </div>
                              <div class="text pt-3 px-3 pb-4 text-center">
                             
                                  <span class="position mb-2">Barbel Curl</span>
                                  <div class="faded">
                                      <p>Weight training is a common type of strength training for developing the strength and size of skeletal muscles</p>
                                      <ul class="ftco-social text-center">
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                              </div>
                          </div>
                      </div>
  
                      <div class="col-md-6 col-lg-4 ftco-animate">
                          <div class="staff">
                              <div class="img-wrap d-flex align-items-stretch">
                                <iframe width="500" height="345" src="https://www.youtube.com/embed/yeKv5oX_6GY">
                                </iframe>
                              </div>
                              <div class="text pt-3 px-3 pb-4 text-center">
                                  
                                  <span class="position mb-2">Plank</span>
                                  <div class="faded">
                                      <p>Weight training is a common type of strength training for developing the strength and size of skeletal muscles</p>
                                      <ul class="ftco-social text-center">
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-4 ftco-animate">
                          <div class="staff">
                              <div class="img-wrap d-flex align-items-stretch">
                                <iframe width="500" height="345" src="https://www.youtube.com/embed/IODxDxX7oi4">
                                </iframe>
                              </div>
                              <div class="text pt-3 px-3 pb-4 text-center">
                                  
                                  <span class="position mb-2">Crunches</span>
                                  <div class="faded">
                                      <p>Weight training is a common type of strength training for developing the strength and size of skeletal muscles</p>
                                      <ul class="ftco-social text-center">
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-4 ftco-animate">
                          <div class="staff">
                              <div class="img-wrap d-flex align-items-stretch">
                                <iframe width="500" height="345" src="https://www.youtube.com/embed/IODxDxX7oi4">
                                </iframe>
                              </div>
                              <div class="text pt-3 px-3 pb-4 text-center">
                                  <h3>Forward Lunges</h3>
                                  <span class="position mb-2"></span>
                                  <div class="faded">
                                      <p>Weight training is a common type of strength training for developing the strength and size of skeletal muscles</p>
                                      <ul class="ftco-social text-center">
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>

                    
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 ftco-animate">
            <div class="staff">
                <div class="img-wrap d-flex align-items-stretch">
                    <iframe width="500" height="345" src="https://www.youtube.com/embed/vthMCtgVtFw">
                    </iframe>
                </div>
                <div class="text pt-3 px-3 pb-4 text-center">
                  
                    <span class="position mb-2">Bench Press</span>
                    <div class="faded">
                        <p>Weight training is a common type of strength training for developing the strength and size of skeletal muscles</p>
                        <ul class="ftco-social text-center">
            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
            <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
          </ul>
      </div>


                              </div>
                          </div>
                      </div>
                      <div class="col-md-6 col-lg-4 ftco-animate">
                          <div class="staff">
                              <div class="img-wrap d-flex align-items-stretch">
                                <iframe width="500" height="345" src="https://www.youtube.com/embed/eGo4IYlbE5g">
                                </iframe>
                              </div>
                              <div class="text pt-3 px-3 pb-4 text-center">
                           
                                  <span class="position mb-2">Pull Ups</span>
                                  <div class="faded">
                                      <p>Weight training is a common type of strength training for developing the strength and size of skeletal muscles</p>
                                      <ul class="ftco-social text-center">
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-google"></span></a></li>
                          <li class="ftco-animate"><a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>


    {% endblock %}